.container {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.dashboard__header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #224957;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// @keyframes shake {
//   0% {
//     transform: translateX(0);
//   }
//   25% {
//     transform: translateX(-2px);
//   }
//   50% {
//     transform: translateX(2px);
//   }
//   75% {
//     transform: translateX(-2px);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

.nav {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__user {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    font-size: 16px;
    color: #fff;
    background-color: #224957;
    border: 1px solid #fff;
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.5s ease;

    &:hover {
      color: #224957;
      background-color: #fff;
    }
  }
}
