.table {
  padding: 30px;

  &__unblock__btn {
    color: #76dc28;

    &:hover {
      color: #76dc28 !important;
      border: 1px solid #fff !important;
    }
  }
}

.ant-pagination-item {
  background-color: #fff !important;
}

.ant-pagination-item-active {
  background-color: #65c918 !important;
  border: solid #fff !important;
  a {
    color: #fff !important;
  }
}
